p {
  margin: 0 auto;
}

body {
  font-family: roboto, arial;
  background-color: rgb(241, 241, 241) ;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 500px;
}

.link-styles {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1500.1px) {
  body {
    padding-left: 230px;
  }
}
